@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Desenvolvedor @ViewData["Dev"]</p>
<address>
    <strong>More Information: </strong> <a href="https://www.linkedin.com/in/breno-ganem/">www.linkedin.com/in/breno-ganem/</a>
</address>
